@font-face {
    font-family: 'Nexa';
    src: url(../assets/Nexa\ Black.ttf) format('truetype');
}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
body, html {
    width: 100%;
    margin: 0;
    padding: 0;
    background-image: url('../img/background-01.webp');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: 'nexa', sans-serif;
    text-align: center;
}

.intro{
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.hero {
    width: 600px;
    opacity: 0; 
    transition: opacity 0.4s ease-in-out; 
}

.computer{
    width: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -500px;
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.computer img{
    width: 130px;
}

.computer h2{
    font-size: 25px;
    color: white;
    font-weight: 100;
    margin-top: 10px;
}

.info{
    display: none;
    position: fixed; /* Tetap di pojok kiri atas saat scroll */
    top: 20px;
    right: 20px;
    color: white;
    border-radius: 8px;
    font-size: 36px;
    font-weight: 100;
    z-index: 1000; /* Pastikan tetap di atas elemen lain */
    opacity: 0; /* Awalnya tersembunyi */
    transform: translateY(-10px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.area-player{
    display: none;
    justify-content: center;
    gap: 40px;

    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.area-player img{
    width: 140px;
}

.area-player h2{
    color: white;
    font-weight: 100;
    font-size: 30px;
    margin-top: 10px;
    
}

.area-player .li{
    transition: 0.3s ease-in-out;
}

.area-player .li:hover{
    transform: scale(1.10);
}

.vs{
    display: none;
    width: 100%;
    color: white;
    font-size: 37px;
    opacity: 0;
    margin-bottom: 23px;
    transform: translateY(30px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

#scoreboard {
    display: none;
    position: fixed; /* Tetap di pojok kiri atas saat scroll */
    top: -9px;
    left: 15px;
    color: white;
    border-radius: 8px;
    font-size: 22px;
    font-weight: 100;
    z-index: 1000; /* Pastikan tetap di atas elemen lain */
    opacity: 0; /* Awalnya tersembunyi */
    transform: translateY(-10px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

@media (max-width:480px){
    .intro{
        height: 700px;
    }
    .hero{
        width: 300px;
        
    }
    body, html{
        background-position: left;
    }

    .area-player{
        
        gap: 20px;
    }
    
    .area-player img{
        width: 100px;
    }
    
    .area-player h2{
        color: white;
        font-weight: 100;
        font-size: 23px;
    }

    .area-player .li{
        transition: all 0.3s ease-in-out;
    }

    .area-player .li:hover{
        transform: scale(1.10);
    }

    .computer {
        margin-top: -570px;
    }
}

